<!DOCTYPE html>
<html>
<head>
  
<%= javascript_include_tag "location", "data-turbolinks-track" => true %>

</head>

<div id = "locationData">

</div>

<script type="text/javascript">
  window.onload = getUserLocation(); 

</script>


<body>

h1>New user</h1>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', users_path %>



</body>
</html>