<head>
<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
</head>

<body>

<%@center = Array.new %>
<%= @center << @event.coordinates.reverse %>
<%= @center.map { |lat, long| {lat: lat, lng: long, radius: 100}  }%>



<!-- 
<% @audiance = @bsonPresentHash.map{|lat, long, alt| {lat: lat, lng: long, infowindow: alt } }%>

 -->
<!-- 
<% @audiance = @present.map{|d| d.reverse}%>
<% @audiance = @audiance.map{|lat, long, infowindow| {lat: lat, lng: long, infowindow: ([lat, long]).to_s} }%>
 -->
<div class = "container" style = "width: 1000px" >


  <div id="multi_overlays" style='width: 800px; height: 800px;' align="left"></div>
  <aside>
  <div id="traditional_geofence" style='width: 800px; height: 800px;' align= "right"></div>
 </aside>
</div>



<script type="text/javascript">
var audianceData = <%= @audiance.to_json.html_safe %>
var data = <%= @polygons.to_json.html_safe %>

var handler = Gmaps.build('Google');

handler.buildMap({ internal: {id: 'multi_overlays'}}, function(){	

for (i = 0; i < data.length; i++){
	var polygonGeofence = handler.addPolygons(
		[
			data[i]
		]
	);
	 

}
 
 var markers = handler.addMarkers(audianceData);
  
handler.bounds.extendWith(markers);
  
handler.bounds.extendWith(polygonGeofence);
  
 
  handler.fitMapToBounds();
  handler.getMap().setZoom(18);
});



</script>

<script type="text/javascript">

var audianceData = <%= @audiance.to_json.html_safe %>

var center = <%= @center.to_json.html_safe %>
var handler_circle = Gmaps.build('Google');
  
handler_circle.buildMap({ internal: {id: 'traditional_geofence'}}, function(){ 

 var circles = handler_circle.addCircles(
    [{lat: 53.360712, lng:-6.251208999999999, radius: 150}],
    { strokeColor: '#FF0000'}
  );

 var markers_circle = handler_circle.addMarkers(audianceData);
  
handler_circle.bounds.extendWith(markers_circle);
  

handler_circle.bounds.extendWith(circles);
  
 
  handler_circle.fitMapToBounds();
  handler_circle.getMap().setZoom(18);
});

</script>

</body>