<head>
<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
</head>

<body>


<p id="notice"><%= notice %></p>



<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>


<%@center = Array.new %>
<% @center << @event.coordinates.reverse %></br>
<% @center = @center.map { |lat, long| {lat: lat, lng: long, infowindow: @event.name}  }%>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %> |
<%= link_to 'Show Geofence', {:action => 'geofence', :id => @event.id } %>

<div style='width: 800px;'>
  <div id="event_map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">

var handler = Gmaps.build('Google');
var center = <%= @center.to_json.html_safe %>
handler.buildMap({ internal: {id: 'event_map'}}, function(){
  var markers = handler.addMarkers(
  	
  	 //[ { lat: 18.5173319, lng: 73.84152399999999}]
  	center
  	

  	);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
   handler.getMap().setZoom(17);
});

</script>

</body>